{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "node", "unicorn"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:node/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}
